/* vivian starts here */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    background-color: gainsboro;
}
.register-page{
    text-align: center;
    /* margin: 100px; */
    border: 2px solid black;
    padding: 30px;
    /* background-color: gray; */
}
.search{
     margin-top: 10px;
    /* width:90px;  */
    margin-bottom: 5px;
    }
    /* vivian stops here */
/* Gbola starts here */
.name{
    /* margin-top : 7px; */
}
button{
    background-color: blue;
    color: white;
    outline: none;
    border: none;
    padding: 1px;
}
button:hover{
    background-color: teal;
}
label{
    display: block;
    margin-top: 7px;
    font:bold;
    font-size: large;
}
/* Gbolahan stops here */
/* muiz start here */
.submitBtn{
    margin-top: 5px;
    border-radius: 3px;
    padding: 6px;
}
td{
    border-bottom: 1px solid teal;
}
#email{
    padding: 7px;
}
#phoneNum{
    padding: 7px;
}
#id{
    padding: 7px;
}
/* muiz ends here */